.gradle/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
web/build/
web/gradlew
web/gradlew.bat
web/gradle/wrapper/gradle-wrapper.jar
web/gradle/wrapper/gradle-wrapper.properties
common/gradle/wrapper/gradle-wrapper.jar
common/gradle/wrapper/gradle-wrapper.properties
common/build/
.idea/
gradlew
gradlew.bat
groupware_project_v2.iml
local.properties
common/gradlew
common/gradlew.bat
